*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgb(24 22 24)),url(Traffic.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.logo{
	width: 75px;
	top: 2%;
	left:2% ;
	position: absolute;

}
.content{
	margin-top: 15%;
	margin-left: 9%;
	color: #fff;
}
.content h4{
	font-style: italic;
	font-family: 'Kaushan Script',cursive;
	font-size: 40px;
}
.content h1{
	
	font-style: italic;
	font-size: 120px;
	line-height: 140px;
	font-weight: bold;

}
.content p{
	/*max-width: 500px;*/
    font-style: italic;
    font-size: 30px;
    line-height: 25px;
    padding: 5px 170px;
}

.navbar
{
	display: flex;
    align-items: center;
    padding: 18px 8%;
    width: 100%;
    justify-content: space-between;
}
    

nav
{

	display: flex;
    align-items: center;
    padding: 18px 8%;
    width: 100%;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 45%;
}
nav ul li
{
    display: inline-block;
    margin: 10px 20px;
	list-style: none;
}
nav ul li a
{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: cursive;
	
}
nav ul li button
{
    font-size: 18px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: cursive;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: rgb(67, 9, 29);
}
/*#login-form
{
    display: none;
}*/
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:-29% auto;
	background:rgba(0,0,0,0.3);
	padding:20px;
    overflow: hidden;
	float: right;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #bb7d7d;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #fff;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color: #fff;
    font-size: 14px;
    bottom: 68px;
    position: absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

